<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.CmsMemberReportMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.CmsMemberReport">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="report_type" jdbcType="INTEGER" property="reportType" />
    <result column="report_member_name" jdbcType="VARCHAR" property="reportMemberName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="report_object" jdbcType="VARCHAR" property="reportObject" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="handle_status" jdbcType="INTEGER" property="handleStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.CmsMemberReport">
    insert into cms_member_report (id, report_type, report_member_name, 
      create_time, report_object, report_status, 
      handle_status, note)
    values (#{id,jdbcType=BIGINT}, #{reportType,jdbcType=INTEGER}, #{reportMemberName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{reportObject,jdbcType=VARCHAR}, #{reportStatus,jdbcType=INTEGER}, 
      #{handleStatus,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, report_type, report_member_name, create_time, report_object, report_status, 
    handle_status, note
    from cms_member_report
  </select>
</mapper>