<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.CmsPrefrenceAreaMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.CmsPrefrenceArea">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="pic" jdbcType="VARBINARY" property="pic" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_prefrence_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.CmsPrefrenceArea">
    insert into cms_prefrence_area (id, `name`, sub_title, 
      sort, show_status, pic
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{showStatus,jdbcType=INTEGER}, #{pic,jdbcType=VARBINARY}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.CmsPrefrenceArea">
    update cms_prefrence_area
    set `name` = #{name,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      show_status = #{showStatus,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, sub_title, sort, show_status, pic
    from cms_prefrence_area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, sub_title, sort, show_status, pic
    from cms_prefrence_area
  </select>
</mapper>