<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.CmsSubjectProductRelationMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.CmsSubjectProductRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_subject_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.CmsSubjectProductRelation">
    insert into cms_subject_product_relation (id, subject_id, product_id
      )
    values (#{id,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.CmsSubjectProductRelation">
    update cms_subject_product_relation
    set subject_id = #{subjectId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, subject_id, product_id
    from cms_subject_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, subject_id, product_id
    from cms_subject_product_relation
  </select>
</mapper>