<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.CmsTopicMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.CmsTopic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="attend_count" jdbcType="INTEGER" property="attendCount" />
    <result column="attention_count" jdbcType="INTEGER" property="attentionCount" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="award_name" jdbcType="VARCHAR" property="awardName" />
    <result column="attend_type" jdbcType="VARCHAR" property="attendType" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.CmsTopic">
    insert into cms_topic (id, category_id, `name`, 
      create_time, start_time, end_time, 
      attend_count, attention_count, read_count, 
      award_name, attend_type, content
      )
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{attendCount,jdbcType=INTEGER}, #{attentionCount,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, 
      #{awardName,jdbcType=VARCHAR}, #{attendType,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.CmsTopic">
    update cms_topic
    set category_id = #{categoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attend_count = #{attendCount,jdbcType=INTEGER},
      attention_count = #{attentionCount,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      award_name = #{awardName,jdbcType=VARCHAR},
      attend_type = #{attendType,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, category_id, `name`, create_time, start_time, end_time, attend_count, 
    attention_count, read_count, award_name, attend_type, content
    from cms_topic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, category_id, `name`, create_time, start_time, end_time, attend_count, 
    attention_count, read_count, award_name, attend_type, content
    from cms_topic
  </select>
</mapper>