<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.OmsCartItemMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.OmsCartItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_sub_title" jdbcType="VARCHAR" property="productSubTitle" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="member_nickname" jdbcType="VARCHAR" property="memberNickname" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.OmsCartItem">
    insert into oms_cart_item (id, product_id, product_sku_id, 
      member_id, quantity, price, 
      product_pic, product_name, product_sub_title, 
      product_sku_code, member_nickname, create_date, 
      modify_date, delete_status, product_category_id, 
      product_brand, product_sn, product_attr
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{productSkuId,jdbcType=BIGINT}, 
      #{memberId,jdbcType=BIGINT}, #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{productPic,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productSubTitle,jdbcType=VARCHAR}, 
      #{productSkuCode,jdbcType=VARCHAR}, #{memberNickname,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=INTEGER}, #{productCategoryId,jdbcType=BIGINT}, 
      #{productBrand,jdbcType=VARCHAR}, #{productSn,jdbcType=VARCHAR}, #{productAttr,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.OmsCartItem">
    update oms_cart_item
    set product_id = #{productId,jdbcType=BIGINT},
      product_sku_id = #{productSkuId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      product_pic = #{productPic,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_sub_title = #{productSubTitle,jdbcType=VARCHAR},
      product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      member_nickname = #{memberNickname,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      product_brand = #{productBrand,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      product_attr = #{productAttr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
    from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
    from oms_cart_item
  </select>
</mapper>