<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsCommentMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="member_ip" jdbcType="VARCHAR" property="memberIp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="product_attribute" jdbcType="VARCHAR" property="productAttribute" />
    <result column="collect_couont" jdbcType="INTEGER" property="collectCouont" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="member_icon" jdbcType="VARCHAR" property="memberIcon" />
    <result column="replay_count" jdbcType="INTEGER" property="replayCount" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsComment">
    insert into pms_comment (id, product_id, member_nick_name, 
      product_name, star, member_ip, 
      create_time, show_status, product_attribute, 
      collect_couont, read_count, pics, 
      member_icon, replay_count, content
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{memberNickName,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{star,jdbcType=INTEGER}, #{memberIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{showStatus,jdbcType=INTEGER}, #{productAttribute,jdbcType=VARCHAR}, 
      #{collectCouont,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, #{pics,jdbcType=VARCHAR}, 
      #{memberIcon,jdbcType=VARCHAR}, #{replayCount,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsComment">
    update pms_comment
    set product_id = #{productId,jdbcType=BIGINT},
      member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      star = #{star,jdbcType=INTEGER},
      member_ip = #{memberIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      show_status = #{showStatus,jdbcType=INTEGER},
      product_attribute = #{productAttribute,jdbcType=VARCHAR},
      collect_couont = #{collectCouont,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      pics = #{pics,jdbcType=VARCHAR},
      member_icon = #{memberIcon,jdbcType=VARCHAR},
      replay_count = #{replayCount,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, member_nick_name, product_name, star, member_ip, create_time, 
    show_status, product_attribute, collect_couont, read_count, pics, member_icon, replay_count, 
    content
    from pms_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, member_nick_name, product_name, star, member_ip, create_time, 
    show_status, product_attribute, collect_couont, read_count, pics, member_icon, replay_count, 
    content
    from pms_comment
  </select>
</mapper>