<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsFeightTemplateMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsFeightTemplate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="charge_type" jdbcType="INTEGER" property="chargeType" />
    <result column="first_weight" jdbcType="DECIMAL" property="firstWeight" />
    <result column="first_fee" jdbcType="DECIMAL" property="firstFee" />
    <result column="continue_weight" jdbcType="DECIMAL" property="continueWeight" />
    <result column="continme_fee" jdbcType="DECIMAL" property="continmeFee" />
    <result column="dest" jdbcType="VARCHAR" property="dest" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_feight_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsFeightTemplate">
    insert into pms_feight_template (id, `name`, charge_type, 
      first_weight, first_fee, continue_weight, 
      continme_fee, dest)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{chargeType,jdbcType=INTEGER}, 
      #{firstWeight,jdbcType=DECIMAL}, #{firstFee,jdbcType=DECIMAL}, #{continueWeight,jdbcType=DECIMAL}, 
      #{continmeFee,jdbcType=DECIMAL}, #{dest,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsFeightTemplate">
    update pms_feight_template
    set `name` = #{name,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=INTEGER},
      first_weight = #{firstWeight,jdbcType=DECIMAL},
      first_fee = #{firstFee,jdbcType=DECIMAL},
      continue_weight = #{continueWeight,jdbcType=DECIMAL},
      continme_fee = #{continmeFee,jdbcType=DECIMAL},
      dest = #{dest,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, charge_type, first_weight, first_fee, continue_weight, continme_fee, 
    dest
    from pms_feight_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, charge_type, first_weight, first_fee, continue_weight, continme_fee, 
    dest
    from pms_feight_template
  </select>
</mapper>