<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsProductAttributeCategoryMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsProductAttributeCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="attribute_count" jdbcType="INTEGER" property="attributeCount" />
    <result column="param_count" jdbcType="INTEGER" property="paramCount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttributeCategory">
    insert into pms_product_attribute_category (id, `name`, attribute_count, 
      param_count)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{attributeCount,jdbcType=INTEGER}, 
      #{paramCount,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttributeCategory">
    update pms_product_attribute_category
    set `name` = #{name,jdbcType=VARCHAR},
      attribute_count = #{attributeCount,jdbcType=INTEGER},
      param_count = #{paramCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, attribute_count, param_count
    from pms_product_attribute_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, attribute_count, param_count
    from pms_product_attribute_category
  </select>
</mapper>