<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsProductCategoryAttributeRelationMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsProductCategoryAttributeRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_attribute_id" jdbcType="BIGINT" property="productAttributeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_category_attribute_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductCategoryAttributeRelation">
    insert into pms_product_category_attribute_relation (id, product_category_id, product_attribute_id
      )
    values (#{id,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT}, #{productAttributeId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductCategoryAttributeRelation">
    update pms_product_category_attribute_relation
    set product_category_id = #{productCategoryId,jdbcType=BIGINT},
      product_attribute_id = #{productAttributeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_category_id, product_attribute_id
    from pms_product_category_attribute_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_category_id, product_attribute_id
    from pms_product_category_attribute_relation
  </select>
</mapper>