<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsProductAttributeValueMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsProductAttributeValue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_attribute_id" jdbcType="BIGINT" property="productAttributeId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttributeValue">
    insert into pms_product_attribute_value (id, product_id, product_attribute_id, 
      `value`)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{productAttributeId,jdbcType=BIGINT}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttributeValue">
    update pms_product_attribute_value
    set product_id = #{productId,jdbcType=BIGINT},
      product_attribute_id = #{productAttributeId,jdbcType=BIGINT},
      `value` = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, product_attribute_id, `value`
    from pms_product_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, product_attribute_id, `value`
    from pms_product_attribute_value
  </select>
</mapper>