<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsProductAttributeMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsProductAttribute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="productAttributeCategoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="select_type" jdbcType="INTEGER" property="selectType" />
    <result column="input_type" jdbcType="INTEGER" property="inputType" />
    <result column="input_list" jdbcType="VARCHAR" property="inputList" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="filter_type" jdbcType="INTEGER" property="filterType" />
    <result column="search_type" jdbcType="INTEGER" property="searchType" />
    <result column="related_status" jdbcType="INTEGER" property="relatedStatus" />
    <result column="hand_add_status" jdbcType="INTEGER" property="handAddStatus" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttribute">
    insert into pms_product_attribute (id, product_attribute_category_id, `name`, 
      select_type, input_type, input_list, 
      sort, filter_type, search_type, 
      related_status, hand_add_status, `type`
      )
    values (#{id,jdbcType=BIGINT}, #{productAttributeCategoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{selectType,jdbcType=INTEGER}, #{inputType,jdbcType=INTEGER}, #{inputList,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{filterType,jdbcType=INTEGER}, #{searchType,jdbcType=INTEGER}, 
      #{relatedStatus,jdbcType=INTEGER}, #{handAddStatus,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductAttribute">
    update pms_product_attribute
    set product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      select_type = #{selectType,jdbcType=INTEGER},
      input_type = #{inputType,jdbcType=INTEGER},
      input_list = #{inputList,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      filter_type = #{filterType,jdbcType=INTEGER},
      search_type = #{searchType,jdbcType=INTEGER},
      related_status = #{relatedStatus,jdbcType=INTEGER},
      hand_add_status = #{handAddStatus,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_attribute_category_id, `name`, select_type, input_type, input_list, 
    sort, filter_type, search_type, related_status, hand_add_status, `type`
    from pms_product_attribute
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_attribute_category_id, `name`, select_type, input_type, input_list, 
    sort, filter_type, search_type, related_status, hand_add_status, `type`
    from pms_product_attribute
  </select>
</mapper>