<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.PmsProductFullReductionMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.PmsProductFullReduction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="full_price" jdbcType="DECIMAL" property="fullPrice" />
    <result column="reduce_price" jdbcType="DECIMAL" property="reducePrice" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_full_reduction
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductFullReduction">
    insert into pms_product_full_reduction (id, product_id, full_price, 
      reduce_price)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{fullPrice,jdbcType=DECIMAL}, 
      #{reducePrice,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.PmsProductFullReduction">
    update pms_product_full_reduction
    set product_id = #{productId,jdbcType=BIGINT},
      full_price = #{fullPrice,jdbcType=DECIMAL},
      reduce_price = #{reducePrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, full_price, reduce_price
    from pms_product_full_reduction
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, full_price, reduce_price
    from pms_product_full_reduction
  </select>
</mapper>