<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.SmsCouponProductCategoryRelationMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.SmsCouponProductCategoryRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
    <result column="parent_category_name" jdbcType="VARCHAR" property="parentCategoryName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_coupon_product_category_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.SmsCouponProductCategoryRelation">
    insert into sms_coupon_product_category_relation (id, coupon_id, product_category_id, 
      product_category_name, parent_category_name
      )
    values (#{id,jdbcType=BIGINT}, #{couponId,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT}, 
      #{productCategoryName,jdbcType=VARCHAR}, #{parentCategoryName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.SmsCouponProductCategoryRelation">
    update sms_coupon_product_category_relation
    set coupon_id = #{couponId,jdbcType=BIGINT},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      parent_category_name = #{parentCategoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, coupon_id, product_category_id, product_category_name, parent_category_name
    from sms_coupon_product_category_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, coupon_id, product_category_id, product_category_name, parent_category_name
    from sms_coupon_product_category_relation
  </select>
</mapper>