<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.SmsFlashPromotionLogMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sms_flash_promotion_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionLog">
    insert into sms_flash_promotion_log (id, member_id, product_id, 
      member_phone, product_name, subscribe_time, 
      send_time)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, 
      #{memberPhone,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{subscribeTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionLog">
    update sms_flash_promotion_log
    set member_id = #{memberId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=BIGINT},
      member_phone = #{memberPhone,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, member_id, product_id, member_phone, product_name, subscribe_time, send_time
    from sms_flash_promotion_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, product_id, member_phone, product_name, subscribe_time, send_time
    from sms_flash_promotion_log
  </select>
</mapper>