<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.SmsFlashPromotionProductRelationMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionProductRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="flash_promotion_id" jdbcType="BIGINT" property="flashPromotionId" />
    <result column="flash_promotion_session_id" jdbcType="BIGINT" property="flashPromotionSessionId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="flash_promotion_price" jdbcType="DECIMAL" property="flashPromotionPrice" />
    <result column="flash_promotion_count" jdbcType="INTEGER" property="flashPromotionCount" />
    <result column="flash_promotion_limit" jdbcType="INTEGER" property="flashPromotionLimit" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_flash_promotion_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionProductRelation">
    insert into sms_flash_promotion_product_relation (id, flash_promotion_id, flash_promotion_session_id, 
      product_id, flash_promotion_price, flash_promotion_count, 
      flash_promotion_limit, sort)
    values (#{id,jdbcType=BIGINT}, #{flashPromotionId,jdbcType=BIGINT}, #{flashPromotionSessionId,jdbcType=BIGINT}, 
      #{productId,jdbcType=BIGINT}, #{flashPromotionPrice,jdbcType=DECIMAL}, #{flashPromotionCount,jdbcType=INTEGER}, 
      #{flashPromotionLimit,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.SmsFlashPromotionProductRelation">
    update sms_flash_promotion_product_relation
    set flash_promotion_id = #{flashPromotionId,jdbcType=BIGINT},
      flash_promotion_session_id = #{flashPromotionSessionId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      flash_promotion_price = #{flashPromotionPrice,jdbcType=DECIMAL},
      flash_promotion_count = #{flashPromotionCount,jdbcType=INTEGER},
      flash_promotion_limit = #{flashPromotionLimit,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, flash_promotion_id, flash_promotion_session_id, product_id, flash_promotion_price, 
    flash_promotion_count, flash_promotion_limit, sort
    from sms_flash_promotion_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, flash_promotion_id, flash_promotion_session_id, product_id, flash_promotion_price, 
    flash_promotion_count, flash_promotion_limit, sort
    from sms_flash_promotion_product_relation
  </select>
</mapper>