<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.TbCommentMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.TbComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="topic_id" jdbcType="INTEGER" property="topicId" />
    <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="is_review" jdbcType="BIT" property="isReview" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment_content" jdbcType="LONGVARCHAR" property="commentContent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.TbComment">
    insert into tb_comment (id, user_id, topic_id, 
      reply_user_id, parent_id, `type`, 
      is_delete, is_review, create_time, 
      update_time, comment_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, 
      #{replyUserId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=TINYINT}, #{isReview,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{commentContent,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.TbComment">
    update tb_comment
    set user_id = #{userId,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      reply_user_id = #{replyUserId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      is_review = #{isReview,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment_content = #{commentContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, topic_id, reply_user_id, parent_id, `type`, is_delete, is_review, 
    create_time, update_time, comment_content
    from tb_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, topic_id, reply_user_id, parent_id, `type`, is_delete, is_review, 
    create_time, update_time, comment_content
    from tb_comment
  </select>
</mapper>