<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.TbFriendLinkMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.TbFriendLink">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_avatar" jdbcType="VARCHAR" property="linkAvatar" />
    <result column="link_address" jdbcType="VARCHAR" property="linkAddress" />
    <result column="link_intro" jdbcType="VARCHAR" property="linkIntro" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_friend_link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.TbFriendLink">
    insert into tb_friend_link (id, link_name, link_avatar, 
      link_address, link_intro, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{linkName,jdbcType=VARCHAR}, #{linkAvatar,jdbcType=VARCHAR}, 
      #{linkAddress,jdbcType=VARCHAR}, #{linkIntro,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.TbFriendLink">
    update tb_friend_link
    set link_name = #{linkName,jdbcType=VARCHAR},
      link_avatar = #{linkAvatar,jdbcType=VARCHAR},
      link_address = #{linkAddress,jdbcType=VARCHAR},
      link_intro = #{linkIntro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, link_name, link_avatar, link_address, link_intro, create_time, update_time
    from tb_friend_link
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, link_name, link_avatar, link_address, link_intro, create_time, update_time
    from tb_friend_link
  </select>
</mapper>