<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.byteinfo.springmall.mbg.mapper.UmsGrowthChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="top.byteinfo.springmall.mbg.entity.UmsGrowthChangeHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="change_type" jdbcType="INTEGER" property="changeType" />
    <result column="change_count" jdbcType="INTEGER" property="changeCount" />
    <result column="operate_man" jdbcType="VARCHAR" property="operateMan" />
    <result column="operate_note" jdbcType="VARCHAR" property="operateNote" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_growth_change_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.byteinfo.springmall.mbg.entity.UmsGrowthChangeHistory">
    insert into ums_growth_change_history (id, member_id, create_time, 
      change_type, change_count, operate_man, 
      operate_note, source_type)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{changeType,jdbcType=INTEGER}, #{changeCount,jdbcType=INTEGER}, #{operateMan,jdbcType=VARCHAR}, 
      #{operateNote,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.byteinfo.springmall.mbg.entity.UmsGrowthChangeHistory">
    update ums_growth_change_history
    set member_id = #{memberId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      change_type = #{changeType,jdbcType=INTEGER},
      change_count = #{changeCount,jdbcType=INTEGER},
      operate_man = #{operateMan,jdbcType=VARCHAR},
      operate_note = #{operateNote,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, member_id, create_time, change_type, change_count, operate_man, operate_note, 
    source_type
    from ums_growth_change_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, create_time, change_type, change_count, operate_man, operate_note, 
    source_type
    from ums_growth_change_history
  </select>
</mapper>