<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sqltest.mbg.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.example.sqltest.mbg.entity.Student">
    <result column="SId" jdbcType="VARCHAR" property="sid" />
    <result column="Sname" jdbcType="VARCHAR" property="sname" />
    <result column="Sage" jdbcType="TIMESTAMP" property="sage" />
    <result column="Ssex" jdbcType="VARCHAR" property="ssex" />
  </resultMap>
  <insert id="insert" parameterType="com.example.sqltest.mbg.entity.Student">
    insert into Student (SId, Sname, Sage, 
      Ssex)
    values (#{sid,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, #{sage,jdbcType=TIMESTAMP}, 
      #{ssex,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select SId, Sname, Sage, Ssex
    from Student
  </select>
</mapper>